<launch>
	<arg name="square_size" default="0.0245" doc="Size of the side of a single square of te pattern, in meters"/>

    <!-- BlackFly camera node -->
	<arg name="config_file" default="$(find ptgrey_bfly_camera)/config/ptgrey_bfly_camera_params.yaml" doc="YAML file with configutaion parameters"/>
    <node
        pkg="ptgrey_bfly_camera"
        type="ptgrey_bfly_camera"
        name="ptgrey_bfly_camera"
        output="screen">
        <rosparam command="load" file="$(arg config_file)"/>
    </node>

	<!-- camera calibration -->
	<node
		name="camera_calibration"
		pkg="camera_calibration"
		type="cameracalibrator.py"
		output="screen"
		args="--size 9x6 --square $(arg square_size) image:=/ptgrey_bfly_camera/image_raw camera:=ptgrey_bfly_camera">
	</node>

</launch>
